@using StudentAppRecovered.Helper
@{
    var partnerId = Convert.ToInt32(TempData["Addressees"]);
    var partnerName = WhoIsWhereLists.Students4WhoIsWhere.Where(x => x.Id == partnerId).Select(x => x.Name).First();

    <div class="card">
        <div class="card-content">
            <div>
                <strong>Date: </strong>@DateTime.Now.ToShortDateString()
            </div>
            <br />
            <form id="StudentsApplication">
                To<br />
                @partnerName <br />
                Principal<br />
                BB Saha &amp; Haque
                <br />
                Chartered Accountants
                <br />
                22, Dilkusha C/A
                <br />
                Dhaka - 1000.
                <br />
                <div class="row" style="margin-left:0;padding-left:0">
                    <div class="valign-wrapper" style="margin-left:0;padding-left:0">
                        <div class="col s1 left-align" style="margin-left:0;padding-left:0">Subject: </div>
                        <div class="input-field col s10">
                            <span class="fa fa-envira orange-text text-darken-3 prefix" />
                            <select id="AppSubject" name="ddlAppSubject">
                                <option value="" disabled selected>Choose</option>
                                @foreach (var application in (IEnumerable<ApplicationType>)TempData["AppType"])
                                {
                                    <option value="@application.Id">@application.Type</option>
                                }
                            </select>
                        </div>
                        <div class="col s1">
                            <button id="AddApplicationType"
                                    class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                                    data-position="left"
                                    data-delay="50"
                                    data-tooltip="Add Subject of Application">
                                <span class="fa fa-plus-circle"></span>
                            </button>
                        </div>
                    </div>
                </div>

                Sir,
                <div class="input-field">
                    <span class="fa fa-bars orange-text text-darken-3 prefix" />
                    <textarea id="txtApplicationBody" name="ApplicationBody" class="materialize-textarea" />
                    <label for="ApplicationBody">Write Body of Your Application</label>
                </div>
                Thanking You,
                <br />
                Sincerely Yours,
                <br /><br />
                @{
                    var student = (Student4WhoWhere)TempData["Student"];
                }
                <div>@student.Name</div>

            </form>
            <br /><br />
            <div class="row">
                <button id="SubmitApp" value="@student.Id" 
                        class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                        data-position="left"
                        data-delay="50"
                        data-tooltip="Submit your application">
                    <span class="fa fa-arrow-circle-right"></span>
                </button>
            </div>
        </div>
    </div>
}

<form id="AppSubjectAdd">
    <div class="modal" id="AppSubModal">
        <div class="modal-content">

            <div class="input-field">
                <label for="txtAppSubject">Write Subject*</label>
                <input id="txtAppSubject" name="txtAppSubject" type="text">
            </div>
            <div id="appsubaddmsg" />
        </div>
        <div class="modal-footer">
            <a id="CloseAppSubAdd" class="waves-effect waves-green btn btn-flat">Cancel</a>
            <a id="AddAppSubToList" class="waves-effect waves-green btn btn-flat">Add to list</a>
        </div>
    </div>
</form>
