@using StudentAppRecovered.Helper
@{
    var application = (RegularApplication)TempData["MyApp"];
    var info = (ApplicationReading)TempData["MyAppReadingInfo"];
    //TempData.Keep("MyApp");
    var applicantName = WhoIsWhereLists.Students4WhoIsWhere.Where(x => x.Id == application.Id).Select(x => x.Name).First();
    var partnerName = WhoIsWhereLists.Students4WhoIsWhere.Where(x => x.Id == application.PartnerId).Select(x => x.Name).First();
    var appSubject = WhoIsWhereLists.Applications.Where(x => x.Id == application.AppTypeId).Select(x => x.Type).First();
}
<div class="row">
    <div class="col m8">
        <div class="card">
            <div class="card-content">

                <button id="Applied2" value="Back" data-val="@info.PageNo"
                        class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                        data-position="left"
                        data-delay="50"
                        data-tooltip="Back to previous page">
                    <span class="fa fa-arrow-circle-left"></span>
                </button>

                <b>@application.Date.ToLongDateString()</b><br /><br />
                To<br />
                @partnerName <br />
                Principal<br />
                BB Saha &amp; Haque <br />
                Chartered Accountants <br />
                22, Dilkusha C/A <br />
                Dhaka - 1000. <br /><br />
                Subject: <b><u>@appSubject</u></b>
                <br /><br />
                Sir, <br />

                @{
                    var objlines = application.AppBody.Split(new char[] { '\n' });
                    var objcount = 0;
                    var stuphotopath = "/Photo/" + application.Id + " " + applicantName + ".jpg";
                    foreach (var objline in objlines)
                    {
                        if (objcount == 0)
                        {
                            <p>@objline</p>
                        }
                        else
                        {
                            if (objline != string.Empty)
                            {
                                <p>@objline</p>
                            }
                            else
                            { <br />}
                        }
                        objcount++;
                    }
                }
                <br /><br />
                Thanking You,
                <br />
                Sincerely Yours,<br /><br />
                @applicantName<br /><br />
                <div>
                    <img src="@stuphotopath" style="height:150px; width:150px" class="responsive-img" />
                </div>
            </div>
        </div>
    </div>

    <div class="col m4">
        @if (application.Accepted == null)
        {
            var photopath = "/Photo/" + application.PartnerId + " " + partnerName + ".jpg";
            <div class="card">
                <div class="card-content">
                    <div>
                        <img src="@photopath" style="height:100px; width:100px" class="responsive-img circle" />
                    </div>
                    <p><b>@partnerName</b> has not made any decision on this application yet</p>
                </div>
            </div>
        }
        else
        {
            var photopath = "/Photo/" + application.PartnerId + " " + partnerName + ".jpg";
            if (Convert.ToBoolean(application.Accepted))
            {
                <div class="card">
                    <div class="card-content">
                        <div>
                            <img src="@photopath" style="height:100px; width:100px" class="responsive-img circle" />
                        </div>
                        <p><b>@partnerName's</b> decision was positive on this application</p>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-content">
                        <div>
                            <img src="@photopath" style="height:100px; width:100px" class="responsive-img circle" />
                        </div>
                        <p><b>@partnerName's</b> decision was negative on this application</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
